.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #0a1922;
  height: 260px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*FORM */
input[type="text"] {
  appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #FF3B3F;
  width: 100%;
  padding: 7px 7px;
  border-radius: 5px;
  color: #FF3B3F;
  letter-spacing: 0.1em;
}

button {
  border: none;
  font-size: 0.75rem;
  color: #FFFFFF;
  background-color: #FF3B3F;
  line-height: 0;
  padding: 20px 30px;
  border-radius: 20px;
  letter-spacing: 0.01em;
  text-shadow: none;
}